<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv00VdfJvjr929Onr3RR4wZAkq6PuMK50</string>
	<key>GCM_SENDER_ID</key>
	<string>778637280562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat4kids</string>
	<key>PROJECT_ID</key>
	<string>chat4kids-142d7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat4kids-142d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778637280562:ios:499aefe18bec9ec2c1832b</string>
</dict>
</plist>